{% extends 'FirstWebApp/base.html' %}
{% block content %}
    <main>
        <div class="container">
            <hr>
                <h1><center>Order Summary</center></h1>
            <hr>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item title</th>
                        <th scope="col">Item price</th>
                        <th scope="col">Total Quantity</th>
                        <th scope="col">Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for product in cart %}
                        <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ product }}</td>
                        <td>{{ product.price }}</td>
                        <td>
                            <a href="{% url 'ecommerce:add_to_cart' order_item.item.slug %}"><i class="fas fa-plus mr-2"></i></a>
                            {{ item.quantity }}
                            <a href="{% url 'ecommerce:remove_single_item_from_cart' order_item.item.slug %}"><i class="fas fa-minus ml-2"></i></a>
                        </td>
                        <td>
                            {% if cart.item.discount_price %}
                                Rs{{ order_item.get_total_discount_item_price }}
                                <span class="badge badge-success">Saving: Rs{{ order_item.get_amount_saved }}</span>
                            {% else %}
                                Rs{{ order_item.get_total_item_price }}
                            {% endif %}
                            <a href="{% url 'ecommerce:remove_from_cart' order_item.item.slug %}">
                                <i style="color: red;" class="fas fa-trash float-right"></i>
                            </a>
                        </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5">Your cart is empty</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                            <a class="btn btn-danger float-right" href="/">Continue Shopping</a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% if object.get_total %}
                    <tr>
                        <td colspan="4"><b>Order Total</b></td>
                        <td><b>Rs{{ object.get_total }}</b></td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <a class="btn btn-primary float-right ml-2" href="/checkout">Proceed to checkout</a>
                            <a class="btn btn-danger float-right" href="/">Continue Shopping</a>
                        </td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}