{% extends 'FirstWebApp/base.html' %}
{% block content %}
<main class="mt-5 pt-4 grey lighten-3">
  <div class="container wow fadeIn">
    <h2 class="mt-5 h2 text-center">Checkout form</h2>
    <div class="row">
      <div class="col-md-12 mb-4">
        <div class="card" style="height: 800px;">
          {% if request.user.is_authenticated %}
          <form method="POST" action="." class="card-body">
              {% csrf_token %}
              <div class="md-form mb-5">
                {{ form.address }}
                <label for="address" class="">Address</label>
              </div>
              <div class="md-form mb-5">
                {{ form.phone }}
                <label for="address-2" class="">Phone</label>
              </div>
              <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                  {{ form.country }}
                  <label for="country">Country</label>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                  {{ form.state }}
                  <label for="state">State</label>
                </div>
                <div class="col-lg-4 col-md-6 mb-4">
                  {{ form.zip }}
                  <label for="zip">Zip</label>
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>
                </div>
              </div>
              <hr>
              <h1 class="text-center">Payment methods</h1>
              <div class="d-block my-3">
                <div class="custom-control custom-radio">
                  <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                  <label class="custom-control-label" for="credit">Credit card</label>
                </div>
                <div class="custom-control custom-radio">
                  <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="paypal">Cash On Delivery</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="cc-name">Name on card</label>
                  <input type="text" class="form-control" id="cc-name" placeholder="" required>
                  <small class="text-muted">Full name as displayed on card</small>
                  <div class="invalid-feedback">
                    Name on card is required
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="cc-number">Credit card number</label>
                  <input type="text" class="form-control" id="cc-number" placeholder="" required>
                  <div class="invalid-feedback">
                    Credit card number is required
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 mb-3">
                  <label for="cc-expiration">Expiration</label>
                  <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                  <div class="invalid-feedback">
                    Expiration date required
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="cc-expiration">CVV</label>
                  <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                  <div class="invalid-feedback">
                    Security code required
                  </div>
                </div>
              </div>
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
            </form>
           {% else %}
              <h1>Hello</h1>
           {% endif %}
        </div>
      </div>
    </div>
</main>
{% endblock %}